<html>
	<head>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap" rel="stylesheet">
		<script type="text/javascript">
			window.websocketUrl = "<%= websocket %>";
			window.version = "1.0.6";
		</script>
		<title>LED CLOCK</title>
	</head>

	<body>
		<div id="app"></div>
	</body>
</html>